/*
 * App Global SCSS
 */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

ion-app {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.ion-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

ion-content {
  overflow: hidden !important;
}

